.customStyle {
  margin-top: 100px;
  /* padding-top: 100px */
}
.form {
  height: 100%;
  width: 100%;
  margin: 25px auto;
  background-color: white;
  border-radius: 10px;
}

.bookingButton {
  width: 100%;
  height: 10%;
  background: #f9a51a;
  border-radius: 15px;
}
label {
  color: maroon;
}
